<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PackRuleMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_PACKRULE(
			PACK_CN,	
			PACK_DSC,	
			STANDARD_PACK,	
			EA_NUM,	
			EA_DSC,	
			EA_DOCK,	
			EA_REPL,	
			EA_IN,	
			EA_OUT,	
			EA_LONG,	
			EA_WIDE,	
			EA_HIGH,	
			EA_VOLUME,	
			EA_WEIGH,	
			INPACK_NUM,	
			INPACK_DSC,	
			INPACK_DOCK,	
			INPACK_REPL,	
			INPACK_IN,	
			INPACK_OUT,	
			INPACK_LONG,	
			INPACK_WIDE,	
			INPACK_HIGH,	
			INPACK_VOLUME,	
			INPACK_WEIGH,	
			BOX_NUM,	
			BOX_DSC,	
			BOX_DOCK,	
			BOX_REPL,	
			BOX_IN,	
			BOX_OUT,	
			BOX_LONG,	
			BOX_WIDE,	
			BOX_HIGH,	
			BOX_VOLUME,	
			BOX_WEIGH,	
			PALLET_NUM,	
			PALLET_DSC,	
			PALLET_DOCK,	
			PALLET_REPL,	
			PALLET_IN,	
			PALLET_OUT,	
			PALLET_LONG,	
			PALLET_WIDE,	
			PALLET_HIGH,	
			PALLET_VOLUME,	
			PALLET_WEIGH,	
			PALLET_TI,	
			PALLET_HI,	
			OTHER_NUM,	
			OTHER_DSC,	
			OTHER_DOCK,	
			OTHER_REPL,	
			OTHER_IN,	
			OTHER_OUT,	
			OTHER_LONG,	
			OTHER_WIDE,	
			OTHER_HIGH,	
			OTHER_VOLUME,	
			OTHER_WEIGH,	
			CREATE_EMP,	
			CREATE_TM,	
			MODIFY_EMP,	
			MODIFY_TM,	
			DEL_FLG,	
			PACKRULE_ID
		) values (
			#{PACK_CN},	
			#{PACK_DSC},	
			#{STANDARD_PACK},	
			#{EA_NUM},	
			#{EA_DSC},	
			#{EA_DOCK},	
			#{EA_REPL},	
			#{EA_IN},	
			#{EA_OUT},	
			#{EA_LONG},	
			#{EA_WIDE},	
			#{EA_HIGH},	
			#{EA_VOLUME},	
			#{EA_WEIGH},	
			#{INPACK_NUM},	
			#{INPACK_DSC},	
			#{INPACK_DOCK},	
			#{INPACK_REPL},	
			#{INPACK_IN},	
			#{INPACK_OUT},	
			#{INPACK_LONG},	
			#{INPACK_WIDE},	
			#{INPACK_HIGH},	
			#{INPACK_VOLUME},	
			#{INPACK_WEIGH},	
			#{BOX_NUM},	
			#{BOX_DSC},	
			#{BOX_DOCK},	
			#{BOX_REPL},	
			#{BOX_IN},	
			#{BOX_OUT},	
			#{BOX_LONG},	
			#{BOX_WIDE},	
			#{BOX_HIGH},	
			#{BOX_VOLUME},	
			#{BOX_WEIGH},	
			#{PALLET_NUM},	
			#{PALLET_DSC},	
			#{PALLET_DOCK},	
			#{PALLET_REPL},	
			#{PALLET_IN},	
			#{PALLET_OUT},	
			#{PALLET_LONG},	
			#{PALLET_WIDE},	
			#{PALLET_HIGH},	
			#{PALLET_VOLUME},	
			#{PALLET_WEIGH},	
			#{PALLET_TI},	
			#{PALLET_HI},	
			#{OTHER_NUM},	
			#{OTHER_DSC},	
			#{OTHER_DOCK},	
			#{OTHER_REPL},	
			#{OTHER_IN},	
			#{OTHER_OUT},	
			#{OTHER_LONG},	
			#{OTHER_WIDE},	
			#{OTHER_HIGH},	
			#{OTHER_VOLUME},	
			#{OTHER_WEIGH},	
			#{CREATE_EMP},	
			#{CREATE_TM},	
			#{MODIFY_EMP},	
			#{MODIFY_TM},	
			#{DEL_FLG},	
			#{PACKRULE_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_PACKRULE
		where PACKRULE_ID = #{PACKRULE_ID}
		  AND  PACKRULE_ID NOT IN (SELECT RULE_PACK  FROM  TB_PRODUCT )
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_PACKRULE
			set 
				PACK_CN = #{PACK_CN},
				PACK_DSC = #{PACK_DSC},
				STANDARD_PACK = #{STANDARD_PACK},
				EA_NUM = #{EA_NUM},
				EA_DSC = #{EA_DSC},
				EA_DOCK = #{EA_DOCK},
				EA_REPL = #{EA_REPL},
				EA_IN = #{EA_IN},
				EA_OUT = #{EA_OUT},
				EA_LONG = #{EA_LONG},
				EA_WIDE = #{EA_WIDE},
				EA_HIGH = #{EA_HIGH},
				EA_VOLUME = #{EA_VOLUME},
				EA_WEIGH = #{EA_WEIGH},
				INPACK_NUM = #{INPACK_NUM},
				INPACK_DSC = #{INPACK_DSC},
				INPACK_DOCK = #{INPACK_DOCK},
				INPACK_REPL = #{INPACK_REPL},
				INPACK_IN = #{INPACK_IN},
				INPACK_OUT = #{INPACK_OUT},
				INPACK_LONG = #{INPACK_LONG},
				INPACK_WIDE = #{INPACK_WIDE},
				INPACK_HIGH = #{INPACK_HIGH},
				INPACK_VOLUME = #{INPACK_VOLUME},
				INPACK_WEIGH = #{INPACK_WEIGH},
				BOX_NUM = #{BOX_NUM},
				BOX_DSC = #{BOX_DSC},
				BOX_DOCK = #{BOX_DOCK},
				BOX_REPL = #{BOX_REPL},
				BOX_IN = #{BOX_IN},
				BOX_OUT = #{BOX_OUT},
				BOX_LONG = #{BOX_LONG},
				BOX_WIDE = #{BOX_WIDE},
				BOX_HIGH = #{BOX_HIGH},
				BOX_VOLUME = #{BOX_VOLUME},
				BOX_WEIGH = #{BOX_WEIGH},
				PALLET_NUM = #{PALLET_NUM},
				PALLET_DSC = #{PALLET_DSC},
				PALLET_DOCK = #{PALLET_DOCK},
				PALLET_REPL = #{PALLET_REPL},
				PALLET_IN = #{PALLET_IN},
				PALLET_OUT = #{PALLET_OUT},
				PALLET_LONG = #{PALLET_LONG},
				PALLET_WIDE = #{PALLET_WIDE},
				PALLET_HIGH = #{PALLET_HIGH},
				PALLET_VOLUME = #{PALLET_VOLUME},
				PALLET_WEIGH = #{PALLET_WEIGH},
				PALLET_TI = #{PALLET_TI},
				PALLET_HI = #{PALLET_HI},
				OTHER_NUM = #{OTHER_NUM},
				OTHER_DSC = #{OTHER_DSC},
				OTHER_DOCK = #{OTHER_DOCK},
				OTHER_REPL = #{OTHER_REPL},
				OTHER_IN = #{OTHER_IN},
				OTHER_OUT = #{OTHER_OUT},
				OTHER_LONG = #{OTHER_LONG},
				OTHER_WIDE = #{OTHER_WIDE},
				OTHER_HIGH = #{OTHER_HIGH},
				OTHER_VOLUME = #{OTHER_VOLUME},
				OTHER_WEIGH = #{OTHER_WEIGH},
			PACKRULE_ID = PACKRULE_ID
			where 
				PACKRULE_ID = #{PACKRULE_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			PACK_CN,	
			PACK_DSC,	
			STANDARD_PACK,	
			EA_NUM,	
			EA_DSC,	
			EA_DOCK,	
			EA_REPL,	
			EA_IN,	
			EA_OUT,	
			EA_LONG,	
			EA_WIDE,	
			EA_HIGH,	
			EA_VOLUME,	
			EA_WEIGH,	
			INPACK_NUM,	
			INPACK_DSC,	
			INPACK_DOCK,	
			INPACK_REPL,	
			INPACK_IN,	
			INPACK_OUT,	
			INPACK_LONG,	
			INPACK_WIDE,	
			INPACK_HIGH,	
			INPACK_VOLUME,	
			INPACK_WEIGH,	
			BOX_NUM,	
			BOX_DSC,	
			BOX_DOCK,	
			BOX_REPL,	
			BOX_IN,	
			BOX_OUT,	
			BOX_LONG,	
			BOX_WIDE,	
			BOX_HIGH,	
			BOX_VOLUME,	
			BOX_WEIGH,	
			PALLET_NUM,	
			PALLET_DSC,	
			PALLET_DOCK,	
			PALLET_REPL,	
			PALLET_IN,	
			PALLET_OUT,	
			PALLET_LONG,	
			PALLET_WIDE,	
			PALLET_HIGH,	
			PALLET_VOLUME,	
			PALLET_WEIGH,	
			PALLET_TI,	
			PALLET_HI,	
			OTHER_NUM,	
			OTHER_DSC,	
			OTHER_DOCK,	
			OTHER_REPL,	
			OTHER_IN,	
			OTHER_OUT,	
			OTHER_LONG,	
			OTHER_WIDE,	
			OTHER_HIGH,	
			OTHER_VOLUME,	
			OTHER_WEIGH,	
			CREATE_EMP,	
			CREATE_TM,	
			MODIFY_EMP,	
			MODIFY_TM,	
			DEL_FLG,	
			PACKRULE_ID
		from 
			TB_PACKRULE
		where 
			PACKRULE_ID = #{PACKRULE_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.PACK_CN,	
				a.PACK_DSC,	
				a.STANDARD_PACK,	
				a.EA_NUM,	
				a.EA_DSC,	
				a.EA_DOCK,	
				a.EA_REPL,	
				a.EA_IN,	
				a.EA_OUT,	
				a.EA_LONG,	
				a.EA_WIDE,	
				a.EA_HIGH,	
				a.EA_VOLUME,	
				a.EA_WEIGH,	
				a.INPACK_NUM,	
				a.INPACK_DSC,	
				a.INPACK_DOCK,	
				a.INPACK_REPL,	
				a.INPACK_IN,	
				a.INPACK_OUT,	
				a.INPACK_LONG,	
				a.INPACK_WIDE,	
				a.INPACK_HIGH,	
				a.INPACK_VOLUME,	
				a.INPACK_WEIGH,	
				a.BOX_NUM,	
				a.BOX_DSC,	
				a.BOX_DOCK,	
				a.BOX_REPL,	
				a.BOX_IN,	
				a.BOX_OUT,	
				a.BOX_LONG,	
				a.BOX_WIDE,	
				a.BOX_HIGH,	
				a.BOX_VOLUME,	
				a.BOX_WEIGH,	
				a.PALLET_NUM,	
				a.PALLET_DSC,	
				a.PALLET_DOCK,	
				a.PALLET_REPL,	
				a.PALLET_IN,	
				a.PALLET_OUT,	
				a.PALLET_LONG,	
				a.PALLET_WIDE,	
				a.PALLET_HIGH,	
				a.PALLET_VOLUME,	
				a.PALLET_WEIGH,	
				a.PALLET_TI,	
				a.PALLET_HI,	
				a.OTHER_NUM,	
				a.OTHER_DSC,	
				a.OTHER_DOCK,	
				a.OTHER_REPL,	
				a.OTHER_IN,	
				a.OTHER_OUT,	
				a.OTHER_LONG,	
				a.OTHER_WIDE,	
				a.OTHER_HIGH,	
				a.OTHER_VOLUME,	
				a.OTHER_WEIGH,	
				a.CREATE_EMP,	
				a.CREATE_TM,	
				a.MODIFY_EMP,	
				a.MODIFY_TM,	
				a.DEL_FLG,	
				a.PACKRULE_ID
		from 
				TB_PACKRULE a
		WHERE DEL_FLG = '0'
		<if test="pd != null and pd.PACK_CN != null and pd.PACK_CN != ''">
          AND PACK_CN LIKE CONCAT(CONCAT('%', #{pd.PACK_CN}),'%')
		</if>
		<if test="pd != null and pd.PACK_DSC != null and pd.PACK_DSC != ''">
			AND PACK_DSC LIKE CONCAT(CONCAT('%', #{pd.PACK_DSC}),'%')
		</if>
		<if test="pd != null and pd.STANDARD_PACK != null and pd.STANDARD_PACK != ''">
			AND STANDARD_PACK = #{pd.STANDARD_PACK}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.PACK_CN,	
				a.PACK_DSC,	
				a.STANDARD_PACK,	
				a.EA_NUM,	
				a.EA_DSC,	
				a.EA_DOCK,	
				a.EA_REPL,	
				a.EA_IN,	
				a.EA_OUT,	
				a.EA_LONG,	
				a.EA_WIDE,	
				a.EA_HIGH,	
				a.EA_VOLUME,	
				a.EA_WEIGH,	
				a.INPACK_NUM,	
				a.INPACK_DSC,	
				a.INPACK_DOCK,	
				a.INPACK_REPL,	
				a.INPACK_IN,	
				a.INPACK_OUT,	
				a.INPACK_LONG,	
				a.INPACK_WIDE,	
				a.INPACK_HIGH,	
				a.INPACK_VOLUME,	
				a.INPACK_WEIGH,	
				a.BOX_NUM,	
				a.BOX_DSC,	
				a.BOX_DOCK,	
				a.BOX_REPL,	
				a.BOX_IN,	
				a.BOX_OUT,	
				a.BOX_LONG,	
				a.BOX_WIDE,	
				a.BOX_HIGH,	
				a.BOX_VOLUME,	
				a.BOX_WEIGH,	
				a.PALLET_NUM,	
				a.PALLET_DSC,	
				a.PALLET_DOCK,	
				a.PALLET_REPL,	
				a.PALLET_IN,	
				a.PALLET_OUT,	
				a.PALLET_LONG,	
				a.PALLET_WIDE,	
				a.PALLET_HIGH,	
				a.PALLET_VOLUME,	
				a.PALLET_WEIGH,	
				a.PALLET_TI,	
				a.PALLET_HI,	
				a.OTHER_NUM,	
				a.OTHER_DSC,	
				a.OTHER_DOCK,	
				a.OTHER_REPL,	
				a.OTHER_IN,	
				a.OTHER_OUT,	
				a.OTHER_LONG,	
				a.OTHER_WIDE,	
				a.OTHER_HIGH,	
				a.OTHER_VOLUME,	
				a.OTHER_WEIGH,	
				a.CREATE_EMP,	
				a.CREATE_TM,	
				a.MODIFY_EMP,	
				a.MODIFY_TM,	
				a.DEL_FLG,	
				a.PACKRULE_ID
		from 
				TB_PACKRULE a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_PACKRULE
		where 
			PACKRULE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
		AND  PACKRULE_ID NOT IN (SELECT RULE_PACK  FROM  TB_PRODUCT )
	</delete>

	<select id="findByCode" parameterType="pd" resultType="pd">
		select
		PACK_CN,
		PACK_DSC,
		STANDARD_PACK,
		EA_NUM,
		EA_DSC,
		EA_DOCK,
		EA_REPL,
		EA_IN,
		EA_OUT,
		EA_LONG,
		EA_WIDE,
		EA_HIGH,
		EA_VOLUME,
		EA_WEIGH,
		INPACK_NUM,
		INPACK_DSC,
		INPACK_DOCK,
		INPACK_REPL,
		INPACK_IN,
		INPACK_OUT,
		INPACK_LONG,
		INPACK_WIDE,
		INPACK_HIGH,
		INPACK_VOLUME,
		INPACK_WEIGH,
		BOX_NUM,
		BOX_DSC,
		BOX_DOCK,
		BOX_REPL,
		BOX_IN,
		BOX_OUT,
		BOX_LONG,
		BOX_WIDE,
		BOX_HIGH,
		BOX_VOLUME,
		BOX_WEIGH,
		PALLET_NUM,
		PALLET_DSC,
		PALLET_DOCK,
		PALLET_REPL,
		PALLET_IN,
		PALLET_OUT,
		PALLET_LONG,
		PALLET_WIDE,
		PALLET_HIGH,
		PALLET_VOLUME,
		PALLET_WEIGH,
		PALLET_TI,
		PALLET_HI,
		OTHER_NUM,
		OTHER_DSC,
		OTHER_DOCK,
		OTHER_REPL,
		OTHER_IN,
		OTHER_OUT,
		OTHER_LONG,
		OTHER_WIDE,
		OTHER_HIGH,
		OTHER_VOLUME,
		OTHER_WEIGH,
		CREATE_EMP,
		CREATE_TM,
		MODIFY_EMP,
		MODIFY_TM,
		DEL_FLG,
		PACKRULE_ID
		from
		TB_PACKRULE
		where DEL_FLG = 0
		 and PACK_CN = #{PACK_CN}
		<if test="PACKRULE_ID != null and PACKRULE_ID != ''">
			and PACKRULE_ID != #{PACKRULE_ID}
		</if>
	</select>
	
</mapper>