<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OutStockAppMapper">

    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        SELECT 	A.STOCKMGROUT_ID,
        A.OUTSTOCK_NO,
        A.CUSTOMER_ID,
        A.PRE_OUT_DATE,
        A.REAL_OUT_DATE,
        B.PRODUCT_ID,
        B.EA_EA,
        B.EA_RATIO,
        B.DEPOT_STATE,
        C.PRODUCT_CODE
        FROM
        tm_stockmgrout A ,
        tm_stockmgrout_dtl B,
        tb_product  C
        WHERE A.STOCKMGROUT_ID = B.STOCKMGROUT_ID
        AND B.PRODUCT_ID = C.PRODUCT_ID
        AND A.OUTSTOCK_NO=#{OUTSTOCK_NO}
    </select>

</mapper>